{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mis Posts{% endblock %}

{% block body %}
        {{ parent() }}
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Likes</th>
                <th>Foto</th>
                <th>Fecha_publicacion</th>
                <th>Contenido</th>
		<th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.titulo }}</td>
                <td>{{ post.likes }}</td>
                <td>{{ post.foto }}</td>
                <td>{{ post.fechaPublicacion ? post.fechaPublicacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.contenido }}</td>
		<td class="d-flex flex-row">
                    {{ include('posts/_delete_form.html.twig') }}
                    <a class="btn btn-primary ml-1" href="{{ path('app_posts_edit', {'id': post.id}) }}">Editar</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No has ingresado ningun posts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
