{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Mis Posts{% endblock %}

{% block body %}
	{{ parent() }}
    <h1>Posts index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titulo</th>
                <th>Likes</th>
                <th>Foto</th>
                <th>Fecha_publicacion</th>
                <th>Contenido</th>
            </tr>
        </thead>
        <tbody>
        {% for post in posts %}
            <tr>
                <td>{{ post.id }}</td>
                <td>{{ post.titulo }}</td>
                <td>{{ post.likes }}</td>
                <td>{{ post.foto }}</td>
                <td>{{ post.fechaPublicacion ? post.fechaPublicacion|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ post.contenido }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="7">No has ingresado ningun posts</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

