{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - Dashboard{% endblock %}

{% block body %}
	{{ parent() }}
	<div class="row">
		{% for article in pagination %}
		<div class="col-md-6 cursor">
			<div class="bg-amcl rounded p-3 my-3"  onclick="window.location.href='{{ path('VerPost',{id:article.id}) }}'">
				<div class="d-flex bd-highlight">
					<div class="p-2 flex-grow-1 bd-highlight">
						<h3>{{ article.titulo }}</h3>
						<div class="my-3 bg-yellow">
							<i class="fa fa-user"></i><strong> Creado por {{ article.nombre }}</strong>
						</div>
						<div class=" bg-green">
							<i class="far fa-clock"></i> <strong>Fecha de publicación: {{ article.fecha_publicacion | date('d-m-Y H-i') }}</strong>
						</div>
					</div>
					<div class="p-2 bd-highlight">
						<div class="align-self-center">
							<img class="rounded" src="{{ asset('uploads/fotos/'~article.foto) }}" width="150px" height="200px">
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<div class="col-md-4">
			<div class="bg-white rounded p-3 my-3">
				<h4>Comentarios</h4>
			</div>
		</div>
	</div>
	<div class="d-flex justify-content-center">
		<div class="navigation">
			{{ knp_pagination_render(pagination) }}
		</div>
	</div>
{% endblock %}
